VITE_KAKAO_MAP_APP_KEY=your_kakao_javascript_key
VITE_KAKAO_JAVASCRIPT_KEY=your_kakao_javascript_key
VITE_SUPABASE_URL=your_supabase_project_url
VITE_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
